/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin-top: 50px;
}

#mynavbar .fa-brands{
    color: white;
    font-size: 20px;
    margin-top: 8px;
}

#equipmentList {
    a:hover,a {
        text-decoration: none;
        color: black;
    }
    .card {
        img {
            height: 200px;
        }
    }
}

#item {
    img {
        height: 80vh;
    }
    .carousel-control-next-icon{
        background-image: url('https://www.svgrepo.com/show/27797/right-arrow.svg')
    }
    .carousel-control-prev-icon{
        background-image: url('https://www.svgrepo.com/show/108986/left-arrow.svg')
    }
}

#contact {
    input[type=text],
    input[type=email],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: black;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: gray;
    }
}

#myInput {
    box-shadow: none;
    border: 0;
    border-radius: 2px;
    /* margin-top: 10px; */
    padding: 5px;
    /* margin-right: 10px; */
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 8px;
}
